:root {
  --rojo-vino: #7B2C2C;
  --beige: #F7E2C2;
  --marron-oscuro: #3C2F2F;
  --beige-inter: #E1C8A6;
  --naranja-tostado: #F0A25A;
  --beige-calido: #D9B88F;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 1050;
    background-color: var(--beige); /* color sólido */
    padding: 0.3rem 0;
    transition: none; /* evita cambios de color al hacer scroll */
}


#navbar .navbar-brand span {
  line-height: 1;
  font-weight: bold;
  color: var(--marron-oscuro);
}

.dropdown-item.active, .dropdown-item:active {
  text-decoration: none;
  color: var(--rojo-vino);
  background-color: var(--rojo-vino);
}

.dropdown-item:focus, .dropdown-item:hover {
  color: var(--marron-oscuro);
  background-color: var(--marron-oscuro);
  /*border-radius: 20px;*/
}

hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, rgba(255,255,255,0.4), transparent);
}

.btn {
  border-radius: 20px;
}

#navbar::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
  border-bottom: 1px solid rgba(255,255,255,0.1);
}

#navbar.scrolled::before {
  opacity: 1;
}

.navbar .nav-link {
  padding: 0.5rem 1.2rem;
  border-radius: 16px;
  border: 1px solid transparent;
  min-width: 100px;
  text-align: center;
  transition: all 0.3s ease;
}

.navbar .nav-link:not(.dropdown-toggle) {
  position: relative;
  transition: color 0.3s ease;
}

.navbar .nav-link:not(.dropdown-toggle)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  transition: width 0.3s ease;
}

.navbar .nav-link:not(.dropdown-toggle):hover::after, .navbar .nav-link:not(.dropdown-toggle).active::after {
  width: 100%;
}

#navbar .navbar-brand img {
  width: 100px;
  height: 100px;
}

.navbar .nav-link:hover {
  color: #ffffff;
}

