:root, [data-bs-theme=light] {
  --bs-primary: #7b2c2c;
  --bs-primary-rgb: 123,44,44;
  --bs-primary-text-emphasis: #311212;
  --bs-primary-bg-subtle: #E5D5D5;
  --bs-primary-border-subtle: #CAABAB;
  --bs-secondary: #f7e2c2;
  --bs-secondary-rgb: 247,226,194;
  --bs-secondary-text-emphasis: #635A4E;
  --bs-secondary-bg-subtle: #FDF9F3;
  --bs-secondary-border-subtle: #FCF3E7;
  --bs-success: #3c2f2f;
  --bs-success-rgb: 60,47,47;
  --bs-success-text-emphasis: #181313;
  --bs-success-bg-subtle: #D8D5D5;
  --bs-success-border-subtle: #B1ACAC;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #7b2c2c;
  --bs-btn-border-color: #7b2c2c;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #692525;
  --bs-btn-hover-border-color: #622323;
  --bs-btn-focus-shadow-rgb: 235,223,223;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #622323;
  --bs-btn-active-border-color: #5C2121;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #7b2c2c;
  --bs-btn-disabled-border-color: #7b2c2c;
}

.btn-outline-primary {
  --bs-btn-color: #7b2c2c;
  --bs-btn-border-color: #7b2c2c;
  --bs-btn-focus-shadow-rgb: 123,44,44;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7b2c2c;
  --bs-btn-hover-border-color: #7b2c2c;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #7b2c2c;
  --bs-btn-active-border-color: #7b2c2c;
  --bs-btn-disabled-color: #7b2c2c;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #7b2c2c;
}

.btn-secondary {
  --bs-btn-color: #000000;
  --bs-btn-bg: #f7e2c2;
  --bs-btn-border-color: #f7e2c2;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #F8E6CB;
  --bs-btn-hover-border-color: #F8E5C8;
  --bs-btn-focus-shadow-rgb: 37,34,29;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #F9E8CE;
  --bs-btn-active-border-color: #F8E5C8;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #f7e2c2;
  --bs-btn-disabled-border-color: #f7e2c2;
}

.btn-outline-secondary {
  --bs-btn-color: #f7e2c2;
  --bs-btn-border-color: #f7e2c2;
  --bs-btn-focus-shadow-rgb: 247,226,194;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #f7e2c2;
  --bs-btn-hover-border-color: #f7e2c2;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #f7e2c2;
  --bs-btn-active-border-color: #f7e2c2;
  --bs-btn-disabled-color: #f7e2c2;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #f7e2c2;
}

.btn-success {
  --bs-btn-color: #fff;
  --bs-btn-bg: #3c2f2f;
  --bs-btn-border-color: #3c2f2f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #332828;
  --bs-btn-hover-border-color: #302626;
  --bs-btn-focus-shadow-rgb: 226,224,224;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #302626;
  --bs-btn-active-border-color: #2D2323;
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #3c2f2f;
  --bs-btn-disabled-border-color: #3c2f2f;
}

.btn-outline-success {
  --bs-btn-color: #3c2f2f;
  --bs-btn-border-color: #3c2f2f;
  --bs-btn-focus-shadow-rgb: 60,47,47;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #3c2f2f;
  --bs-btn-hover-border-color: #3c2f2f;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #3c2f2f;
  --bs-btn-active-border-color: #3c2f2f;
  --bs-btn-disabled-color: #3c2f2f;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #3c2f2f;
}

